@model WidgetDM

<h4>Widget</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="WidgetId" />
            <input type="hidden" asp-for="RowVersion" />
            <input type="hidden" asp-for="OldAddress.AddressId" />
            <input type="hidden" asp-for="OldAddress.RowVersion" />
            <input type="hidden" asp-for="NewAddress.AddressId" />
            <input type="hidden" asp-for="NewAddress.RowVersion" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailAddress" class="control-label"></label>
                <input asp-for="EmailAddress" class="form-control" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                Old Address:
            </div>
            <div class="form-group">
                <label asp-for="OldAddress.AddressLine1" class="control-label"></label>
                <input asp-for="OldAddress.AddressLine1" class="form-control" />
                <span asp-validation-for="OldAddress.AddressLine1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OldAddress.AddressLine2" class="control-label"></label>
                <input asp-for="OldAddress.AddressLine2" class="form-control" />
                <span asp-validation-for="OldAddress.AddressLine2" class="text-danger"></span>
            </div>
            <div class="form-group">
                New Address:
            </div>
            <div class="form-group">
                <label asp-for="NewAddress.AddressLine1" class="control-label"></label>
                <input asp-for="NewAddress.AddressLine1" class="form-control" />
                <span asp-validation-for="NewAddress.AddressLine1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewAddress.AddressLine2" class="control-label"></label>
                <input asp-for="NewAddress.AddressLine2" class="form-control" />
                <span asp-validation-for="NewAddress.AddressLine2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
